html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  background-color: rgb(240, 240, 240);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(167, 84, 167);
  color: white;
  text-align: center;
  padding: 0 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 3px;
  font-size: 30px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fetch {
  width: 400px;
  height: 100%;
  background-color: rgb(167, 84, 167);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 30px auto;
}
.users-container {
  width: 50%;
  height: 100%;
  background-color: rgb(240, 189, 240);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 50px auto;
}

button,
select {
  padding: 16px 25px;
  height: auto;
  border-radius: 15px;
  border: none;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
}

button:hover,
button:active {
  box-shadow: 2px 2px 16px 2px lightgray;
}

.match-text {
  background-color: rgb(167, 84, 167);
  color: white;
  text-align: center;
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 30px auto;
  border-radius: 20px;
}
.match-text > h3 {
  font-size: 22px;
  font-weight: 800;
}

@media (max-width: 1060px) {
  .fetch {
    width: 50vw;
    height: 100%;
    margin: 30px auto;
    padding: 20px;
    align-items: center;
  }
  .users-container {
    width: 80vw;
    height: 100%;
    margin: 30px auto;
    padding: 0;
  }
}
